## GET COUNTY NAMES RIGHT For matching

In [9]:
import pandas as pd
from dotenv import load_dotenv
import re
import requests

## Read in the data

In [5]:
# change directory location to wherever the data is sitting
%cd '~/dev/frt_2021b/create_crosswalks'

/Users/danielfehder/dev/frt_2021b/create_crosswalks

In [69]:
county_ref = pd.read_csv('county_list.csv')

In [73]:
l2_county = pd.read_stata('county_counts.dta')

In [11]:
add = pd.read_stata('company_address.dta')

## Functions for processing the data and getting geolocation data from google

In [43]:
def get_geojson(add_str):
    url = 'https://maps.googleapis.com/maps/api/geocode/json'
    api_key = 'AIzaSyAI3MHdhDlV9OBWh-zZdjeWKanQ1dF0Y1w'
    params = {'sensor': 'false', 'address': add_str, 'key':api_key}
    
    r = requests.get(url, params=params)
    
    results = r.json()['results']
    
    return results

def get_county(geo_json):
    # initialize to null value in case not found
    county = ''
    state = ''
    
    try:
        geo = geo_json[0]['address_components']
    
    except IndexError:
        return ""
    
    for elem in geo_json[0]['address_components']:
        if 'administrative_area_level_2' in elem['types']:
            county = elem['long_name']
            
        if 'administrative_area_level_1' in elem['types']:
            state = elem['short_name']
    
    rtstr = county + " " + state
            
    return rtstr   

def geocode(address):
    geojson = get_geojson(address)
    county_str = get_county(geojson)
    
    return county_str

## Get county number data for the execucomp data

In [44]:
# this will cost ~$30 in cost so don't run too often
add['county_code'] = add['full_address'].apply(lambda x: geocode(x))

# clean out the word County from the county codes
add['county_code_google'] = add['county_code'].apply(lambda x: x.replace(' County', '').upper())

# Merge to the overall county data
add_merge = add.merge(county_ref, how='left', left_on='county_code_google', right_on='county_code', indicator=True)

Now check to see the outcomes of the merge

In [67]:
add_merge['_merge'].value_counts()

both          2957
left_only      171
right_only       0
Name: _merge, dtype: int64

Output the data. This will be switched from inter -> final when RA fixes the few rows that did not merge

In [68]:
add_merge.to_csv('exec_gvkey_county_inter.csv')

## Get the county number data for the L2 data

In [75]:
l2_county.head(5)

  vid    county_code  address_fips      cnt
0  TX  TX ANDERSON 1             1  25255.0
1  TX   TX ANDREWS 3             3   8214.0
2  TX  TX ANGELINA 5             5  45356.0
3  TX   TX ARANSAS 7             7  14669.0
4  TX    TX ARCHER 9             9   5699.0

In [76]:
county_ref.head(5)

,County Code,County Title,MSA Code,MSA Title,MSA Type,CSA Code,CSA Title,state_code,county_short,county_code,county_fips,county_code_l2
0,1001,"Autauga County, Alabama",C3386,"Montgomery, AL",Metro,NaN,NaN,AL,AUTAUGA,AUTAUGA AL,1,AL AUTAUGA 1
1,1003,"Baldwin County, Alabama",C1930,"Daphne-Fairhope-Foley, AL",Metro,CS380,"Mobile-Daphne-Fairhope, AL",AL,BALDWIN,BALDWIN AL,3,AL BALDWIN 3
2,1005,"Barbour County, Alabama",NaN,NaN,NaN,NaN,NaN,AL,BARBOUR,BARBOUR AL,5,AL BARBOUR 5
3,1007,"Bibb County, Alabama",C1382,"Birmingham-Hoover, AL",Metro,CS142,"Birmingham-Hoover-Talladega, AL",AL,BIBB,BIBB AL,7,AL BIBB 7
4,1009,"Blount County, Alabama",C1382,"Birmingham-Hoover, AL",Metro,CS142,"Birmingham-Hoover-Talladega, AL",AL,BLOUNT,BLOUNT AL,9,AL BLOUNT 9

In [77]:
l2_county_merge = l2_county.merge(county_ref, how='left', left_on='county_code', right_on='county_code_l2', indicator=True)

In [78]:
l2_county_merge['_merge'].value_counts()

both          2711
left_only      366
right_only       0
Name: _merge, dtype: int64

In [79]:
l2_county_merge.head(5)

,vid,county_code_x,address_fips,cnt,County Code,County Title,MSA Code,MSA Title,MSA Type,CSA Code,CSA Title,state_code,county_short,county_code_y,county_fips,county_code_l2,_merge
0,TX,TX ANDERSON 1,1,25255.0,48001.0,"Anderson County, Texas",C3730,"Palestine, TX",Micro,NaN,NaN,TX,ANDERSON,ANDERSON TX,1.0,TX ANDERSON 1,both
1,TX,TX ANDREWS 3,3,8214.0,48003.0,"Andrews County, Texas",C1138,"Andrews, TX",Micro,NaN,NaN,TX,ANDREWS,ANDREWS TX,3.0,TX ANDREWS 3,both
2,TX,TX ANGELINA 5,5,45356.0,48005.0,"Angelina County, Texas",C3126,"Lufkin, TX",Micro,NaN,NaN,TX,ANGELINA,ANGELINA TX,5.0,TX ANGELINA 5,both
3,TX,TX ARANSAS 7,7,14669.0,48007.0,"Aransas County, Texas",C1858,"Corpus Christi, TX",Metro,CS204,"Corpus Christi-Kingsville-Alice, TX",TX,ARANSAS,ARANSAS TX,7.0,TX ARANSAS 7,both
4,TX,TX ARCHER 9,9,5699.0,48009.0,"Archer County, Texas",C4866,"Wichita Falls, TX",Metro,NaN,NaN,TX,ARCHER,ARCHER TX,9.0,TX ARCHER 9,both

In [80]:
l2_county_merge.to_csv('l2_county_inter.csv')

# Play zone below

Develop the code to get the list of region codes

In [94]:
exec_path = '~/dev/frt_2021b/data/inter/cross_gvkey2csa.dta'

In [95]:
exec_region = pd.read_stata(exec_path)

In [96]:
exec_region.head(5)

,gvkey,coname,countycode,CountyTitle,region_code,region_type,region_title
0,4674,REGIONS FINANCIAL CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
1,63763,HIBBETT SPORTS INC,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
2,25896,BOOKS-A-MILLION INC,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
3,9880,SOUTHTRUST CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
4,12516,BIRMINGHAM STEEL CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"

In [88]:
exec_region = exec_region[['region_code']].drop_duplicates()

In [89]:
exec_region_list = exec_region['region_code'].to_list()

In [92]:
# exec_region_list

In [91]:
len(exec_region_list)

192

In [97]:
exec_region[exec_region['region_code'] == 'CS142']

,gvkey,coname,countycode,CountyTitle,region_code,region_type,region_title
0,4674,REGIONS FINANCIAL CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
1,63763,HIBBETT SPORTS INC,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
2,25896,BOOKS-A-MILLION INC,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
3,9880,SOUTHTRUST CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
4,12516,BIRMINGHAM STEEL CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
5,4351,ENERGEN CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
6,12589,ENCOMPASS HEALTH CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
7,1619,AMSOUTH BANCORPORATION,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
8,29055,TRIAD GUARANTY INC,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
9,8789,PROTECTIVE LIFE CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
10,16549,SERVISFIRST BANCSHARES INC,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
11,28900,COLONIAL PROPERTIES TRUST,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
12,11228,VULCAN MATERIALS CO,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
13,24440,PROASSURANCE CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
14,162160,MEDICAL PROPERTIES TRUST,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"
15,110065,INFINITY PROPERTY & CAS CORP,1073,"Jefferson County, Alabama",CS142,CSA,"Birmingham-Hoover-Talladega, AL"

In [98]:
ape = 'ape'
boo = 'boo'

'%s_%s'%(ape, boo)

'ape_boo'

In [99]:
'%s_%s'%(ape, len(exec_region_list))

'ape_192'

In [100]:
import glob

In [107]:
glob.glob(os.path.expanduser('~/dev/dtemp/slurm-*'))

['/Users/danielfehder/dev/dtemp/slurm-6308930_1.out',
 '/Users/danielfehder/dev/dtemp/slurm-6308930_2.out',
 '/Users/danielfehder/dev/dtemp/slurm-6308928_2.out',
 '/Users/danielfehder/dev/dtemp/slurm-6308928_1.out']

In [104]:
import os

In [106]:
os.listdir(os.path.expanduser('~/dev/dtemp/'))

['combine_inter_l2_match_6.csv',
 'slurm-6308930_1.out',
 '.DS_Store',
 'slurm-6308930_2.out',
 'slurm-6308928_2.out',
 'slurm-6308928_1.out',
 'sample.do',
 'matched_unique_name.dta',
 'combine_subsample.dta',
 'Untitled.do',
 'workspace.do']

In [108]:
os.path.expanduser('~/dev/dtemp/slurm-*')

'/Users/danielfehder/dev/dtemp/slurm-*'